/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-main : hsl(236, 68%, 44%);
    --color-light : hsl(195, 53%, 43%);
    --color-text : hsl(0, 0%, 0%);
    --color-text-2 : hsl(0, 0%, 100%);
}

body {
    background-color: var(--color-main);
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: var(--color-text-2);
    text-align: center;
    margin: 20px;
}

.container {
    width: 80%;
    margin: auto;
}

.form-biglietto, .biglietto {
    background-color: var(--color-text-2);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.form-biglietto-campi {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
    width: 30%;
}

.tile label {
    font-size: 20px;
    color: var(--color-main);
    margin-bottom: 20px;
    font-weight: 700;
}

.tile input, select {
    border: 2px solid var(--color-main); 
    border-radius: 10px;
    padding-left: 5px;
    font-size: 18px;
    height: 30px;
    caret-color: var(--color-main);
}

.tile input:focus, select:focus {
    outline: none;
}

.errore {
    align-self: flex-end;
}

.form-biglietto-bottoni {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-light);
    color: var(--color-text-2);
    border: none;
    margin: 0 10px ;
    font-family: 'Poppins', sans-serif;
    transition: .4s;
}

button:hover {
    opacity: .7;
}

#iltuo {
    display: none;
}

.biglietto {
    display: none;
    margin-top: 20px;
}

.biglietto.open {
    display: block;
}

h3 {
    text-align: left;
}

.card {
    display: flex;
    border: 1px solid var(--color-light);
    text-align: left;

}

.card-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    padding: 20px;
}

.card h3, .card h4 {
    margin-bottom: 10px;
}

.biglietto-nome {
    background-color: var(--color-light);
    color: var(--color-text-2)
}

@media screen and (max-width: 835px){
    .form-biglietto-campi, .card {
        flex-direction: column;
    }
    .tile {
        width: 100%;
        margin: 0;
    }
}



